<footer>
    <p>Copyright {{getCurrentYear}}</p>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="https://timwheeler.com" target="_blank">Tim Wheeler</a></li>
    </ul>
</footer>